[submodule "dependencies/ZArchive"]
	path = dependencies/ZArchive
	url = git@github.com:tencentmalos/ZArchive.git
	shallow = true
[submodule "dependencies/cubeb"]
	path = dependencies/cubeb
	url = git@github.com:tencentmalos/cubeb.git
	shallow = true
[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = git@github.com:tencentmalos/vcpkg.git
	shallow = false
[submodule "dependencies/Vulkan-Headers"]
	path = dependencies/Vulkan-Headers
	url = git@github.com:tencentmalos/Vulkan-Headers.git
	shallow = true
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = git@github.com:tencentmalos/imgui.git
	shallow = true
[submodule "dependencies/metal-cpp"]
	path = dependencies/metal-cpp
	url = git@github.com:tencentmalos/metal-cpp.git
	shallow = true
[submodule "dependencies/xbyak_aarch64"]
	path = dependencies/xbyak_aarch64
	url = git@github.com:tencentmalos/xbyak_aarch64.git
[submodule "dependencies/libadrenotools"]
	path = dependencies/libadrenotools
	url = git@github.com:tencentmalos/libadrenotools.git
	shallow = true
[submodule "dependencies/foundation"]
	path = dependencies/foundation
	url = git@github.com:tencentmalos/foundation.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = git@github.com:tencentmalos/fmt.git
	shallow = true
[submodule "dependencies/glslang"]
	path = dependencies/glslang
	url = git@github.com:tencentmalos/glslang.git
	shallow = true
[submodule "dependencies/zstd"]
	path = dependencies/zstd
	url = git@github.com:tencentmalos/zstd.git
	shallow = true
[submodule "dependencies/libusb"]
	path = dependencies/libusb
	url = git@github.com:tencentmalos/libusb.git
	shallow = true
[submodule "dependencies/cryptopp"]
	path = dependencies/cryptopp
	url = git@github.com:tencentmalos/cryptopp.git
	shallow = true
[submodule "dependencies/cryptopp-cmake"]
	path = dependencies/cryptopp-cmake
	url = git@github.com:tencentmalos/cryptopp-cmake.git
	shallow = true
